*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20hv; /* Esto elimina el margen predeterminado del body */
  height: 100vh; 
  overflow: hidden; 
}

#myCanvas {
  border: 6px solid blue;
  width: 100%; /* Establece el ancho al 100% del body */
  height: 100%; /* Establece la altura al 100% del body */
}

